$accent: #22B18B;
$alpha_60: #2B433C;
$brand: #FECC06;
$milk: #F6F6F6;
$onAccent: #E0FFF7;
$primary: #1C5445;
$textCard: #54887A;
$bg: #FCFCFC;



body{
    background-color: $bg;
    color: $primary;
}

.ff-NT-Somic{
    font-family: 'NT Somic';
}